DATABASE_URL=
CRON_SECRET=
OPENAI_API_KEY=
RESEND_API_KEY=
EMAIL_FROM=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
YOUTUBE_CHANNELS=UCawZsQWqfGSbCI5yjkdVkTA
